<div class="card">
  <div class="card-header border-0">
    <div class="row align-items-center">
      <div class="col">
        <p><i class="ni ni-folder-17"></i><span class="h5"> My jobs</span></p>
      </div>
      <div class="col text-right">
        <a href="<%= create_job_path %>" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#bug-form">
          <i class="ni ni-fat-add"></i> Post job
        </a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <!-- Projects table -->
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">Job title</th>
          <th scope="col">Candidates</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            Front-end developper
          </th>
          <td>
            200 Candidates
          </td>
          <td>
            <a href="<%=show_job_path %>" class="text-orange">Details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            Data scientices, python senior developper
          </th>
          <td>
            200 Candidates
          </td>
          <td>
            <a href="<%=show_job_path %>" class="text-orange">Details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            React developper
          </th>
          <td>
            20 Candidates
          </td>
          <td>
            <a href="<%=show_job_path %>" class="text-orange">Details</a>
          </td>
        </tr>
        <tr>
          <th scope="row">
            Blog manager + Content creater
          </th>
          <td>
            500 Candidates
          </td>
          <td>
            <a href="<%=show_job_path %>" class="text-orange">Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
