<div class="card card-profile">
  <%= image_tag "theme/img-1-1000x600.jpg", class: "card-img-top", alt: "Image placeholder" %>
  <div class="row justify-content-center">
    <div class="col-lg-3 order-lg-2">
      <div class="card-profile-image">
        <a href="#">
          <%= image_tag(@profil.avatar, class: 'rounded-circle') %>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body pt-6">
    <div class="col">
          <%# if @profil.asc_certificat == true %>
          <div class="row justify-content-center">
            <p class="text-sm badge badge-pill badge-secondary">Certified by <span class="h4 text-purple">Dive Into Code</span></p>
          </div>
          <% #end %>
          <div class="row justify-content-center">
            <%= sanitize "<a class='text-sm text-orange mx-2' target='_blank' href='#{@profil.github}'>
              <i class='fa fa-github'></i></a>" if @profil.github.present? %>
            <%= sanitize "  <a class='text-sm text-orange mx-2' href='#{@profil.facebook}'>
              <i class='fa fa-facebook-square'></a>" if @profil.facebook.present? %>
            <%= sanitize "  <a class='text-sm text-orange mx-2' href='#{@profil.twitter}'>
              <i class='fa fa-twitter-square'></i></a>" if @profil.twitter.present? %>
            <%= sanitize "  <a class='text-sm text-orange mx-2' href='#{@profil.linkedin}'>
              <i class='fa fa-linkedin'></i></a>" if @profil.linkedin.present?   %>
          </div>
      </div>
    <div class="text-center">
      <h5 class="h3">
        <%= @profil.name %>
      </h5>
      <div class="h5 font-weight-300">
        <%= current_account.email %>
      </div>
      <div class="h5 mt-4 text-center">
        <%= @profil.bio %>
      </div>
    </div>
  </div>
</div>
