<div class="section mt-6">
  <div class="container">
    <div class="col-md-12">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <p><i class="ni ni-ungroup"></i><span class="h3"> Lastest jobs</span></p>
            </div>
            <div class="card-body">
              <% @jobs.each do |job|  %>
              <h4><%= job.title %></h4>
              <p><%= job.description %></p>
              <a class="text-sm text-orange"><i class="ni ni-watch-time"></i><%= job.jobType %></a>
              | <a class="text-sm text-orange"><i class="ni ni-square-pin"></i> <%= job.state.name %></a>
              | <a class="text-sm text-orange"><i class="ni ni-money-coins"></i><%= job.min_salary %>  <%= job.jobFrequence %></a>
              | <a class="text-sm text-orange"><i class="ni ni-time-alarm"></i><%= job.deadline %></a>
              <hr>
              <% end %>
            </div>
            <div class="text-center mb-3">
              <button type="button" name="button" class="btn-warning">Load more</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
