<nav id="navbar-main" class="navbar bg-white navbar-horizontal navbar-light navbar-main navbar-expand-lg position-sticky top-0 shadow py-2">
  <div class="container">
    <a class="navbar-brand mr-lg-5" href="<%= root_path %>">
      <img src="<%= asset_path 'brand/blue.png' %>">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="./index.html">
              <img src="<%= asset_path 'brand/blue.png' %>">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item">
          <a href="<%= browse_path %>" class="nav-link" role="button">
            <span class="nav-link-inner--text" title="Browse job"><i class="ni ni-bullet-list-67"></i> Browze Jobs</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <% unless account_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;" data-toggle="modal" data-target="#modal-form" title="Login">
            <span class="nav-link-inner--text"><i class="ni ni-user-run"></i> login</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_account_registration_path %>" data-toggle="tooltip" title="Logout">
            <span class="nav-link-inner--text"><i class="ni ni-single-02"></i> Register</span>
          </a>
        </li>
        <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="nav-link-inner--text" ><i class="ni ni-single-02"></i> Profile</span>
          </a>
          <div class="dropdown-menu  dropdown-menu ">
            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">Dashbord</h6>
            </div>
            <a href="<%= compagnies_path %>" class="dropdown-item">
              <i class="ni ni-tag"></i>
              <span title="My Compagny">My Compagny</span>
            </a>
            <a href="<%= jobs_path %>" class="dropdown-item">
              <i class="ni ni-folder-17"></i>
              <span title="My jobs">My jobs</span>
            </a>
            <a href="<%= approuval_path %>" class="dropdown-item">
              <i class="ni ni-zoom-split-in"></i>
              <span title="Pending approuval">Pending approuval</span>
            </a>
            <a href="<%= mails_path %>" class="dropdown-item">
              <i class="ni ni-email-83"></i>
              <span title="Mail box">Mail box</span>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-method="delete" href="/accounts/sign_out" data-toggle="tooltip" title="Logout">
            <span class="nav-link-inner--text"><i class="ni ni-button-power"></i> Logout</span>
          </a>
        </li>
        <% end %>
        <li class="nav-item d-none d-sm-block">
          <a href="<%= create_job_path %>" class="btn btn-md btn-warning btn-icon">
            <span class="btn-inner--icon">
              <i class="ni ni-fat-add"></i>
            </span>
            <span class="nav-link-inner--text" title="post job">Post Job</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
