<div class="section mt-6">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <p><i class="ni ni-ungroup"></i><span class="h3"> Post job</span></p>
            </div>
            <div class="card-body">
              <%= form_for @post, local: true do |f| %>
                <div class="form-group">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-12 col-lg-6">
                        <%= render partial: 'shared/alerts/errors', locals: { resource: @post } %>
                      </div>
                    </div>
                  </div>
                  <label class="text-sm "for="">Category</label>
                  <%= f.select(:category, options_for_select([['Printing', 1],
                                          ['Traning', 2],
                                          ['Security & Safety', 3],
                                          ['Web developper', 4],
                                          ['Engeneering', 5],
                                          ['IT & Telecoms', 6],
                                          ['Tourism & Restaurants', 7],
                                          ['Iot', 8],
                                          ['Marketing & Communication', 9],
                                          ['Medical & Heeathcare', 10],
                                          ['Public service', 11],
                                          ['Commercial Representation', 12],
                                          ['Financial', 13]
                                          ]),class:"form-control", prompt:"Choose category") %>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-align-left-2"></i></span>
                    </div>
                    <%= f.text_field :title, class:"form-control", placeholder:"Job title" %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <%= f.text_area :description, class:"form-control", placeholder:"Job Description" %>
                  </div>
                </div>
                <div class="form-group">
                  <label class="text-sm "for="">Job type</label>
                  <%= f.select(:jobtype, options_for_select([['Full-time', 1],
                                          ['Part-time', 2],
                                          ['Remote', 3],
                                          ['Intership', 4],
                                          ['Freelance', 5],
                                          ['Contract', 6]
                                          ]),class:"form-control",prompt:"Choose job type" ) %>
                </div>
                <div class="form-group">
                  <label class="text-sm" for="">Deadline</label>
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                    </div>
                    <%= f.date_field :deadline, class:"form-control", placeholder:"Job Description" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-money-coins"></i></span>
                        </div>
                        <%= f.number_field :min_salary, class:"form-control", placeholder:"Min salary" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-money-coins"></i></span>
                        </div>
                        <%= f.number_field :max_salary, class:"form-control", placeholder:"Max salary" %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.select(:frequence, options_for_select([['Per month', 1],
                                              ['Per week', 2],
                                              ['Per bi-week', 3],
                                              ['Per day', 4],
                                              ['Per hours', 5],
                                              ]),class:"form-control", prompt:"salary frequence.." ) %>
                    </div>
                    <div class="form-group">
                        <input type="checkbox">
                        <label class="text-sm" for="">Salary is negocialble ?</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                    </div>
                    <label for=""> State</label>
                    <%= f.grouped_collection_select :state_id, Country.order(:name), :states, :name, :id, :name, include_blank: true, class:"form-control", prompt:"choose job location" %>
                  </div>
                </div>
                <div class="text-sm text-center">
                  <%= f.check_box :terms_use %>
                  <label>By continuing on this website, you accept our <strong class="text-oragne">Terms of Use</strong></label>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-warning my-4">Publish</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="">
              <div class="">
                <h2 class="heading text-center text-warning">POST JOB</h2>
                <p class="description d-none d-md-inline-block mb-2 p-3 text-center text-sm"> Do you have a post to be filled within your company? Find the right candidate in a few clicks at JobSeeker</p>
              </div>
          </div>
          <div class="card">
            <div class="card-header bg-primary py-2 text-center">
              <p class="mb-0"><strong>How to find quickly a candidate?</strong></p>
            </div>
            <div class="card-body">
              <p class="text-sm mb-0"><i class="ni ni-check-bold"></i> Use a brief title and description of the job post</p>
              <p class="text-sm mb-0"><i class="ni ni-check-bold"></i> Make sure you post in the correct category</p>
              <p class="text-sm mb-0"><i class="ni ni-check-bold"></i> Add location to your job post</p>
              <p class="text-sm mb-0"><i class="ni ni-check-bold"></i> Add application deadline to your job post</p>
              <p class="text-sm mb-0"><i class="ni ni-check-bold"></i> Put a min and max salary</p>
              <p class="text-sm mb-0"><i class="ni ni-check-bold"></i> Check the post before publish</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
