<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  <body class="bg-white">
    <% if account_signed_in?%>
      <% if current_account.entreprise == true %>
          <%= render 'compagnies/shared/topnav' %>
      <% else %>
        <%= render 'profils/shared/topnav' %>
      <% end %>
    <% else %>
      <%= render 'home/shared/topnav' %>
    <% end %>
    <div class="main-content">
      <%= render "shared/login"%>
      <%= yield %>
      <%=render "shared/footer" %>
    </div>
  </body>
</html>
